
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ascii{color:#54ABB9;
  margin-top:8vh;
width:20vw;
float:right;
margin-right:4vw;
height:10vh;
font-family:monospace;
font-size:.5vw;}
canvas {
  background-image:url("background2.png");
    position:absolute;
    width:50vw;
    height:55.5vh;

    position:absolute;
    margin-left:25vw;
        margin-top:4vh;
      z-index:-9}
#frame-png{
position:absolute;
left:25vw;
top:4vh;

}
 #canvas-html {
  background-position:center;

          width:50vw;
          height:55.5vh;
          /* border-style:solid;
          border-width: 12px;
          border-color:white; */
        position:absolute;
          margin-left:25vw;
              margin-top:4vh;}        
body {
  background-color:#030709;
  /* background-image:url("assets/background.png"); */
     width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'VT323', monospace;
}
#terminal{
  background-image:url("assets/terminal.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
    position:absolute;
    width:51vw;
    height:33vh;
    margin-top:62vh;
    margin-left:24.5vw;
    border-radius:10px;
    color:#54ABB9;
    font-family: 'VT323', monospace;
    }
    #space-knight{margin-left:12vw;}
    .status{
      background-image:url("assets/status.png");
      background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    position:absolute;
    height:54vh;
    width:18vw;
    margin-left:6vw;
    margin-top:8vh;
    z-index:5;
    color:#54ABB9;
    font-size:4.5vh;
    font-family: 'VT323', monospace;    }
    
    .inventory{
      
      background-image:url("assets/inventory.png");
      background-repeat:no-repeat;
background-size:contain;
background-position:center;

      background-color:transparent;
      background-repeat:no-repeat;
        position:absolute;
        height:34vh;
        width:18vw;
        margin-left:76vw;
        margin-top:28vh;
            color:#54ABB9;}
    
  #show-score{
    margin-left:4vw;
    margin-right:20vw;
    margin-top:10vh;
    font-size:16vh;
  }

#inventory-title{
  position:relative;
  margin-top:2vh;
  margin-left:5vw;
  font-size:3vw;
}
    .stat-value {
      margin-right:3.5vw;
      float:right;
      }
.stat{margin-left:3vw;
margin-top:2vh;}
#begin{
  position:absolute;
  margin-top:10vh;
  margin-bottom:80vh;
Margin-left:18vw;
color:#54ABB9;
background-color: #54ABB9;
border: none;
font-size: 1vw;
color: #FFFFFF;
padding: 1.5vw;
text-align: center;
text-decoration: none;
cursor:pointer;
z-index:5;
width:15vw;
height:8vh;

}

.action-terminal{height:15vw;
width:15vw;
position:absolute;
margin-left:77vw;
margin-top:60vh;

}
#action{
  
  margin-top:14vh;
  margin-left:3vw;
  position: relative;
  background-color: #54ABB9;
  border: none;
  font-size: 2vw;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  width:12vw;
height:10vh;}

  #action:after {
    content: "";
    background: #5479B9;
    position: absolute;
    padding-top: 100%;
    padding-left: 800%;
    padding-right: 200%;
    margin-left: -50vw!important;
    margin-top: -60px;
    opacity: 0;
    transition: all .5s;
    border-radius:60px;
  }
  #action:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
#arrows{
  position:relative;
  top:5vh;
  left: -7.8vw;
width: 12;
 height:13vh;
}
#s-key{
  position:relative;
  margin-top:5vh;
  margin-left: 7.3vw;


}
#opening-scroll{
  margin-top:2vh;
  margin-left:4vw;
  margin-right:4vw;
  font-size:1.5vw;

}


.star {
    z-index:-5;
  --twinkle-duration: "";
  --twinkle-delay: "";
  --star-size: "";
  position: absolute;
  width: var(--star-size);
  height: var(--star-size);
  animation: twinkle infinite alternate;
  animation-duration: var(--twinkle-duration);
  animation-delay: var(--twinkle-delay);
  /* height:25px;
  width:25px; */
}

#d-pad{
  display:none;
  width:20vw;
  height:20vh;
  margin-top:12vh;;
  margin-left:24vw;
  
}
#right{
  position:absolute;
  margin-top:6.5vh;
/* //down */
}
#right:hover{
  opacity:.5;
}

#left{
  /* /right */
  transform: rotate(-90deg);
  position:absolute;
  margin-left:4vw;

}
  #left:hover{opacity:.5}

#up{
  
  position:absolute;
  transform: rotate(180deg);
  margin-top:-6.5vh;


}
#up:hover{
  opacity:.5;
}

#down{position:absolute;
  transform: rotate(90deg);
  margin-left:-4vw;
}
#down:hover{
  opacity:.5;
}
.d-pad-button:hover{
  cursor:pointer;

}
 .d-pad-button{
  position:absolute;
  background-image:url("assets/d-pad.png");
  width:3.5046vw;
  height:6.446991404011461vh
} 
  
@keyframes twinkle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
        box-shadow: 0 0 5px 0.5px rgba(150, 150, 150, 0.6);
    }
}


@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .crt {
    animation: textShadow 1.6s infinite;
  }

